*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins light';
}
body{
    background: linear-gradient(120deg, silver, rgb(34, 33, 33));
}
header{  
    height: 12vh;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: end;
    padding-top: 40px;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.active{
    border-bottom: 3px solid black;
    font-size: 20px;
}

main{
    margin-top: 40px;
    width: 100%;
}
.search-form{
    display: flex;
    justify-content:center;
}
.search-input{
    padding: 12px;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    width: 70%;
}
.search-btn{
    padding: 12px;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.search-btn:focus{
    outline: none;
}
.grid-container{
    margin-top: 40px;
    background-color: white;
    padding: 10px;
    display: block;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 10px;
    align-self: center;
    
}
.grid-item{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    border-bottom: 1px solid black;
}
.item-container{
    display: block;
}
.pic{
    width: 60%;
}
.info{
    width: 40%;
    line-height: 3rem;
    float: left;
}

.item-pic{
    width: 80%;
    height: 25vh;
}
.description{
    color: rgb(32, 30, 30);
    font-size: 14px;
    color: brown;
}
.price{
    color: rgb(27, 4, 4);
}
.add-to-cart{
    padding: 10px;
    border: none;
    background: linear-gradient(120deg, rgb(13, 126, 13), rgb(65, 62, 62));
    color: white;
    cursor: pointer;
}
footer{
    background: linear-gradient(120deg, rgb(177, 169, 169), white);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 12px;
}
